<div class="my-5 container">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        formControlName="email" name="email">

    </div>
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
        formControlName="firstname" name="firstname">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>