<h2 [style.color]="titleColor">{{title| append:"hello"|uppercase}}</h2>
<h3 class="text-success">Signal value:{{signalValue}}</h3>
<h3>{{today|date:'shortDate'}}</h3>
<img [src]="imageUrl" alt="">
<button class="btn btn-success m-5" (click)="showAlert('Maxwell')">Show Alert</button>
<h3 class="m-5">COUNT <span class="text-warning">{{count}}</span></h3>
<button class="btn btn-success ms-3" (click)="incrementCount()">Increment</button><button class="btn btn-danger ms-3"
    (click)="decrementCount()">Decrement</button><button class="btn btn-primary ms-3"
    (click)="resetCount()">Reset</button>
<h3>Getting value from input box</h3>
<h4>UserName:{{username}}</h4>
<div class="d-flex">
    <input type="text" #uname class="form-control w-50 mt-3" (keyup)="getUserName($event)">
    <button class="btn btn-danger ms-3" [disabled]="!uname.value">HELLO WORLD</button>
    <button class="btn btn-success ms-3" (click)="getValue(uname)">GET VALUE</button>
</div>
<h3 [ngClass]="myStyle">NgClass Example</h3>
<button class="btn btn-primary" (click)="changeStyle()">CHANGE STYLE</button>
<h3 class="m-3">Structural derivatives</h3>
<h4 *ngIf="!isShow">Example for ngIf directive</h4>
<h4 class="text-success" *ngIf="isEligible">Eligible for vote</h4>
<h4 class="text-danger" *ngIf="!isEligible">Not Eligible for vote</h4>
<input type="text" class="form-control w-25 mt-3" placeholder="Enter your age" (input)="checkEligibility($event)">
<ol>
    <li *ngFor="let item of userList">{{item}}</li>
</ol>
<h3>User Address: <span class="text-warning">{{address}}</span></h3>
<input type="text" [(ngModel)]="address" placeholder="Enter your address" class="form-control w-25">
<button (click)="getAddress()" class="btn btn-info ms-2">Add Address</button>
<h3>Control flow statements</h3>
<h4>
    User status:
    @if(userStatus){
    <span class="text-success">ACTIVE</span>
    }
    @else {
    <span class="text-danger">INACTIVE</span>

    }
</h4>
<h3>User List using for</h3>
<ol>
    @for(item of userList; track $index){
        <li>{{item}}</li>
    }
</ol>
<button (click)="getData()" class="m-3 btn btn-primary">Data from service</button>
<button (click)="getMethod()" class="m-3 btn btn-primary">Method from service</button>
<button (click)="showAllPost()" class="m-3 btn btn-primary">Show All Posts</button>
<h2>ALL POSTS</h2>
<table class="table my-5">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        @for (post of allPost; track $index) {
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
            </tr>
        }
    </tbody>
</table>